<head>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
    <link href="static/css/summoner.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="static/img/favicon.ico">
    <title>Summoners Graphs</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#summoner_form').on('submit', async (e) => {
                e.preventDefault();
                showLoading(true)
                let username = document.getElementById("user_input").value
                //?loading?
                let user = await getUser(username)
                showMatches(user)
                showPlayer(user)
                // document.getElementById("user_input").value = ''
                showLoading(false)
            })
            document.getElementById('player_div').style.display = 'none'
            showLoading(false)
        })

        const showLoading = (status) => {
            let loading = document.getElementById('loading')
            loading.style.display = 'none'
            if (status) {
                loading.style.display = ''
            }
        }

        const getUser = async (username) => {
            response = (await fetch('/user/' + username)).json()
            return response
        }

        const showPlayer = (user) => {
            let div = document.getElementById('player_div')
            let username = 'Não encontrado!'
            let icon = 'static/img/favicon.ico'
            if (user.summonerName) {
                username = user.summonerName
                icon = user.profileIcon
            }
            div.style.display = ''
            div.innerHTML = createPlayer(username, icon)
        }


        const createPlayer = (playerName, playerIcon) => {
            return '<div class="Profile">\
                        <div class="Face">\
                            <div class="ProfileIcon">\
                                <div class="BorderImage"\
                                    style=""></div>\
                                <img src="' + playerIcon + '"\
                                    class="ProfileImage">\
                                <span class="Level tip" title="Nível"></span>\
                            </div>\
                        </div>\
                        <div class="Information">\
                            <div class="SummonerName" style="padding-top: 10px;">' + playerName + '</div>\
                        </div>\
                    </div>'
        }


        const showMatches = (user) => {
            let div = document.getElementById("results_div")
            div.innerHTML = ''
            console.log(div.innerHTML)
            for (const key in user.ultimasPartidas) {
                let match = user.ultimasPartidas[key]
                let duration = Math.floor(match.gameDuration / 60) + 'm ' + match.gameDuration % 60 + 's'
                let win = match.win
                let championIcon = match.championIcon
                let kills = match.kills
                let deaths = match.deaths
                let assists = match.assists
                let spell1Icon = match.spell1Id
                let spell2Icon = match.spell2Id
                let items = [
                    match.item0,
                    match.item1,
                    match.item2,
                    match.item3,
                    match.item4,
                    match.item5,
                    match.wardItem
                ]
                let runes = [
                    match.perkPrimaryStyle,
                    match.perkSubStyle
                ]
                
                let creepScore = match.creepScore
                let kda = ((kills + assists) / deaths).toFixed(2) + ':1'
                div.innerHTML += createMatch(match.championName, duration, win, championIcon, kills, deaths, assists, kda, spell1Icon, spell2Icon, items, creepScore, runes)
            }
        }


        const createMatch = (description, duration, win, championIcon, kills, deaths, assists, kda, spell1Icon, spell2Icon, items, creepScore, runes) => {
            return '<div class="Box GameItem ' + (win ? 'Win' : 'Lose') + ' ">\
                        <div class="Bar"></div>\
                        <div class="Card">\
                            <div class="Title">\
                                <h2 id="match_description" class="Text">\
                                    ' + description + '\
                                    · <span id="match_date" class="TimeStamp"><span class="_timeago _timeCountAssigned tip"\
                                            data-datetime="1603226097" data-type="" data-interval="60"\
                                            title="">' + '</span></span>\
                                </h2>\
                    \
                                <div class="Right">\
                                    <span id="match_time" class="GameLength">' + duration + '</span>\
                                    <span class="GameResult">\
                                        <span id="match_win" class="' + (win ? 'Wins' : 'Losses') + '">' + (win ? 'Vitória' : 'Derrota') + '</span>\
                                    </span>\
                    \
                                    <div class="Actions">\
                                        <a href="#" class="Action Detail"\
                                            onclick="$openDetail(2092338768, 22944471, $(this).closest(".GameItem")); return false;">\
                                            <img src="static/img/arrow.png" class="arrowDown"></img>\
                                            <span src="static/img/arrow.png" class="arrowUp"></img>\
                                        </a>\
                                    </div>\
                                </div>\
                            </div>\
                            <div class="GameStats">\
                                <div class="ChampionImageAndSpell">\
                                    <div class="ChampionImage">\
                                        <a href="/champion/akali/statistics"><img\
                                                src="' + championIcon + '"\
                                                class="Image"></a>\
                                    </div>\
                                    <div class="Spells">\
                                        <div class="Spell">\
                                            <img src="' + spell1Icon + '"\
                                                class="Image tip"\
                                                title="<b style="color: #ffc659">Flash</b><br><span>Teleporta seu Campeão por uma curta distância em direção ao seu cursor.</span>">\
                                        </div>\
                                        <div class="Spell">\
                                            <img src="' + spell2Icon + '"\
                                                class="Image tip"\
                                                title="<b style="color: #ffc659">Teleporte</b><br><span>Depois de canalizar por 4s, teleporta seu Campeão para a estrutura, tropa ou sentinela-alvo aliada e concede um surto de Velocidade de Movimento. O Tempo de Recarga de Teleporte escala 420s - 240s dependendo do nível do Campeão.</span>">\
                                        </div>\
                                    </div>\
                                    <div class="Runes">\
                                        <div class="Rune">\
                                            <img src="' + runes[0] + '"\
                                                class="Image tip"\
                                                title="<b style="color: #ffc659">Agilidade nos Pés</b><br><span>Ao atacar ou se mover, você ganha acúmulos de Energia. Após 100 acúmulos, seu próximo ataque fica Energizado.<br><br>Ataques energizados curam de 3 a 60 (+0.3 de DdA adicional, +0.3 de PdH) e concedem +20% de Velocidade de Movimento por 1s.<br><br>A cura recebida das tropas é 20% eficaz para Campeões de ataque à distância.</span>"\
                                                alt="Agilidade nos Pés">\
                                        </div>\
                                        <div class="Rune">\
                                            <img src="' + runes[1] + '"\
                                                class="Image tip"\
                                                title="<b style="color: #ffc659">Dominação</b><br><span>Dano explosivo e acesso ao alvo</span>"\
                                                alt="Dominação">\
                                        </div>\
                                    </div>\
                                </div>\
                                <div class="KDA">\
                                    <div class="KDA">\
                                        <span class="Kill">' + kills + '</span> /\
                                        <span class="Death">' + deaths + '</span> /\
                                        <span class="Assist">' + assists + '</span>\
                                    </div>\
                                    <div class="KDARatio">\
                                        <span class="KDARatio ">' + kda + '</span>\
                                    </div>\
                                </div>\
                                <div class="Stats">\
                                    <div class="CS">\
                                        <span class="CS tip" title="">' + creepScore + '\
                                            </span> CS\
                                    </div>\
                                </div>\
                                <div class="Items">\
                                    <div class="Item">\
                                        <img src="' + items[0] + '"\
                                            class="Image tip"\
                                            title=""\
                                            alt="Pistola Laminar Hextec">\
                                    </div>\
                                    <div class="Item">\
                                        <img src="' + items[1] + '"\
                                            class="Image tip"\
                                            title=""\
                                            alt="Tomo Amplificador">\
                                    </div>\
                                    <div class="Item">\
                                        <img src="' + items[2] + '"\
                                            class="Image tip"\
                                            title=""\
                                            alt="Botas da Velocidade">\
                                    </div>\
                                    <div class="Item">\
                                        <img src="' + items[3] + '"\
                                            class="Image tip"\
                                            title=""\
                                            alt="Varinha Explosiva">\
                                    </div>\
                                    <div class="Item">\
                                        <img src="' + items[4] + '"\
                                            class="Image tip"\
                                            title=""\
                                            alt="Varinha Explosiva">\
                                    </div>\
                                    <div class="Item">\
                                        <img src="' + items[5] + '"\
                                            class="Image tip"\
                                            title=""\
                                            alt="Varinha Explosiva">\
                                    </div>\
                                </div>\
                                <div class="TrinketWithItem">\
                                    <div class="Item">\
                                        <img src="' + items[6] + '"\
                                            class="Image tip"\
                                            title=""\
                                            alt="Totem de Vigilância (Amuleto)">\
                                    </div>\
                                </div>\
                            </div>\
                            <div class="GameDetail"></div>\
                        </div>\
                    </div>'
        }

    </script>
</head>

<body>
    <div class="index__header">
        <header data-lang="pt" data-region="BR" data-ismobile="true">
            <div class="sg-header">
                <div class="sg-header__gnb">
                    <h1 class="sg-header__logo">
                        <a class="sg-header__logo-anchor" href="/">
                            <img alt="OP.GG" height="16"
                                src="static/img/logo.svg" width="65">
                        </a>
                    </h1>
                    <button class="sg-header__navi-open" type="button">
                        <span class="sg-header__navi-thumb">
                            <img alt="League of Legends"
                                src="static/img/lol.png">
                        </span>
                    </button>

                    <div class="sg-header__util">
                        <button class="sg-header__util-open" type="button"><img alt="" height="24"
                                onclick="$.OP.GG.sidebar.toggle(); return false;"
                                src="static/img/login.svg" width="24"></button>
                    </div>
                </div>
            </div>
        </header>
        <!-- logo animais -->
        <h1 class="header__art">
            <img src="static/img/art.png" title="">
        </h1>
        <!-- search -->
        <div class="header__search-summoner">
            <div class="search-summoner SearchWrap">
                <form id="summoner_form" autocomplete="on">
                    <input id="user_input" autocomplete="on" class="search-summoner__input-txt">
                    <button class="search-summoner__btn search-summoner__btn--submit Submit">
                        <img src="static/img/button.svg" height="16">
                    </button>
                </form>
            </div>
        </div>
    </div>

    
    <!-- profile -->
    <div id="player_div" class="SummonerHeader">
        <!-- player -->
    </div>

    <!-- results -->
    <div id="results_div" class="GameItemList">

        <!-- two -->

    </div>

    <!-- loading -->
    <img id="loading" src="static/img/loading.gif">


</body>